---
import Layout from "../layouts/Layout.astro"
import Background from "../components/Background.astro"
import Header from '../components/Header.astro'
---

<Layout title="Megatel">
  <Background />
  
  <div class="w-[80%] mx-auto">
    <Header />
  </div>

  

</Layout>