---
import { BASE_URL } from "../services/contans";
import img from "../assets/img/internet-por-fibra-optica-meganet-rapido-veloz-mejor-internet5.jpg"

console.log(img)
---

<div class="absolute z-[-1] top-0 left-0 h-[calc(100dvh+40%)] w-full">
  <img
    class="h-full w-full object-cover"
    alt="Mujer en el sofa usando una laptop"
    src={img.src}
  />

  <div class="absolute inset-0 h-full w-full [background:radial-gradient(transparent_50%,#010D18aa)]"></div>

  <div class="absolute inset-0 h-full w-full [background:linear-gradient(transparent_50%,#000305)]"></div>
</div>