<nav class="nav">
  <input type="checkbox" hidden id="i_checkbox" />
  <label class="nav__toggle-cta" for="i_checkbox">
    <i class="fa-solid fa-bars"></i>
  </label>

  <div class="nav__overlay">
    <div class="nav__container">
      <label class="nav__toggle-cta" for="i_checkbox">
        <i class="fa-solid fa-xmark"></i>
      </label>

      <ul class="nav__links">
        <li>
          <a class="nav__link" href="./index.html">Inicio</a>
        </li>
        <li>
          <a class="nav__link" href="#plans">Planes</a>
        </li>
        <li>
          <a class="nav__link" href="#">Cobertura</a>
        </li>
        <li>
          <a class="nav__link" href="#">Contratar</a>
        </li>
        <li>
          <a class="nav__link nav__link--cta" href="#">
            Consultar Factura
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>

.nav {
  @apply select-none;
}

.nav__toggle-cta {
  @apply lg:hidden grid place-items-center h-10 w-10 border border-cyan-blue/0 rounded-lg text-[28px] hover:border-cyan-blue;
}

.nav__links {
  @apply flex items-center justify-center gap-3;
}

.nav__link {
  @apply block text-lg py-1 px-3 hover:text-cyan-blue;
}

.nav__link--cta {
  @apply inline-block px-7 py-3 rounded-full border border-cyan-blue;
}

.nav__container {
  @apply lg:w-[85%] h-full mx-auto relative;
}

.nav__overlay {
  @apply lg:hidden;
  position: absolute;
  inset: 0;
  z-index: 10;
  overflow-y: scroll;
  
  background-color: var(--black-opacity);
  backdrop-filter: blur(15px);
}

.nav:has(input:checked) .nav__overlay {
  display: block;
}



@media (width < 1000px) {
  

  

  

  .nav__toggle-cta:has(.fa-xmark) {
    position: absolute;
    top: 40px;
    right: 0;
  }

  .nav__links {
    display: grid;
    height: 100%;
    place-content: center;
    text-align: center;
  }

}

</style>